main 

{

    width: 100%;
    min-height: 100vh; /* Altura da janela do dispositivo */
    background: linear-gradient(0deg, var(--principal-azure) 0%, var(--principal-rosa) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

main > div

{

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


}

form 

{

    width: 90%;
    display: flex;
    flex-direction: column;

}



/* formulario */

#formulario

{

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding: 3%;
gap: 15px;

}



#formulario > div 

{

width: 100%;
display: flex;
flex-direction: column;

}

#formulario > div > label

{

font-size: var(--tamanho-fonte-sm) ;
color: var(--tons-cinza-escuro2) ;
font-weight: 500;
padding-bottom: 4px;

}

#formulario > div > input

{

height: 35px;

}

#formulario > p 

{

text-transform: uppercase;
font-size: var(--tamanho-fonte-sm);
color: var(--tons-cinza-claro);

}

#formulario > a, #secao-cadastro >  p > a

{

text-decoration: none;
color: var(--principal-azure);

}

.formulario-botao-azul

{

    height: 35px;
    width: 100%;  

}

/* cadastro */
#seção-cadastro

{

height: 60px;
display: flex;
justify-content: space-around;
align-items: center;

}

#seção-cadastro > p

{

font-size: var(--tamanho-fonte-md) ;

}


#seção-cadastro,
#formulario

{

max-width: 350px ;        

}



#informação-aplicativo 

{

font-size: var(--tamanho-fonte-sm);

}



/* instalação */

#secao-instalacao

{

display: flex;
justify-content: space-around;
gap: 10px;
flex-wrap: wrap;


}

#secao-instalacao img

{
    width: 120px;
    height: 39px;
}