


/* header */



header

{

width: 100%;
background-color: white;
border: var(--borda);
border-radius: var(--borda-arrendondada);
display: flex;
justify-content: center;

}

header > div

{

height: 45px;
display: flex;
width: 100%;
border: 2px solid red;


}


div > h2

{

width: 90%;
align-items: start;
margin-left: 30px;

}

#img-casa

{

margin-top: 3px;

}

div > nav

{

width: 10%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;


}

div > nav > img

{

width: 35px;
height: 35px;

}

h2 

{

flex-direction: column;
display: flex;
align-items: center;
justify-content: center;

}



/* Main */



main 

{

    width: 100%;
    min-height: 100vh;
    /* Altura da janela do dispositivo */
    background-color: var(--tons-cinza-claro);
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: nowrap;

}


main > div {


    width: 70%;
    display: flex;
    gap: 15px;
    background-color: white;

}



/* Flex */

.header-flex

{

display: flex;
justify-content: space-between;
align-items: center;

}